*{
body {
    background-color: #FFC0CB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 h1 {
 color: #c026d3;
  }

  h2 {
    color: #8B008B ;
     }
     h3 {
        color: #8B008B;
         }

  .serie {
    max-width: 412px;
    margin-inline: auto;
    padding: 32px;
    margin-block: 64px;
    border-radius: 30px;
  }
       
}